:root {
  --color-blue: rgb(45, 119, 240);
  --color-dark-blue: rgb(42, 35, 176);
  --color-red: rgb(255, 57, 57);
  --color-gold: rgb(238, 155, 0);
  --color-dark-gold: rgb(130, 84, 0);
  --color-green: rgb(0, 140, 33);
  --color-brown: rgb(151, 88, 32);
  --color-white: rgb(243, 243, 243);
  --color-black: rgb(22, 22, 22);
  --color-dark-gray: rgb(61, 61, 61);
  --color-gray: rgb(130, 130, 130);
  --color-light-gray: rgb(199, 199, 199);
}
* {
  font-family: 'Do Hyeon';
  text-align: center;
  user-select: none;
  word-break: keep-all;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: 1fr minmax(60vh, 9fr) 1fr;
  height: 100vh;
  overflow: hidden;
  /* background: no-repeat center url(""); */
}
.main_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header h1 {
  width: fit-content;
  background: linear-gradient(to right, var(--color-red), var(--color-gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:2.75rem;
}
#logo-chb + label {
  width: 200px;
  height: 140px;
  position: relative;
  cursor: pointer;
}
#logo-chb + label .main_logo {width: 200px;}
#logo-chb + label .sub_logo {position: absolute;width: 50px;}
#logo-chb + label .left_sword {
  transform: rotate(148deg);
  left: 21px;
  top: 19px;
  z-index: -1;
  transition: all .1s;
}
#logo-chb + label .right_sword {
  transform: rotate(213deg);
  right: 13px;
  top: 17px;
  z-index: -1;
  transition: all .1s;
}
#logo-chb:checked + label .main_logo,
#logo-chb + label:hover .main_logo {animation: .3s linear both pop;}
#logo-chb:checked + label .left_sword,
#logo-chb + label:hover .left_sword {transform: scale(1.2) rotate(327deg) translate(-6px, -10px);transition: all .35s;}
#logo-chb:checked + label .right_sword,
#logo-chb + label:hover .right_sword {transform: scale(1.2) rotate(39deg) translate(8px, -10px);transition: all .35s;}
@keyframes pop {
  0% {transform: scale(1);}
  75% {transform: scale(1.2);}
  100% {transform: scale(1.15);}
}
.main_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.swordbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.swordbox img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 3%;
  filter: drop-shadow(2vmin 2vmin 2vmin var(--color-dark-gray));
  transition: all .3s;
}
.swordbox img:hover {transform: scale(1.2);border-radius: 0;transition: all .3s;}
.swordbox .infomation {display: flex;flex-direction: column;align-items: center;}
#sword-number {font-size: 1.75rem;}
#sword-name {font-size: 2.25rem;}
#sword-prob{font-size: 1.25rem;}
#sword-cost,
#sword-price {font-size: 1rem;}
.buttons {display: flex;justify-content: space-evenly;margin-top: 0.5rem;}
.buttons > div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  margin: 0 5px;
}
.buttons > div:hover  {transform: scale(1.1);transition: all .3s;}
.buttons > div:active {filter: brightness(0.7);transform: scale(1.0);}
.buttons > div:hover.rotate > img {transform: scale(1.5) rotate(0.2turn);transition: all .5s;}
.buttons > div:hover.increase > img {transform: scale(1.25);transition: all .5s;}
.buttons > div:hover.turning > img {animation: turn 2s linear infinite;}
.buttons > div:hover.decrease > img {transform: scale(0.75);transition: all .5s;}
@keyframes turn {
  0% {transform: rotate(0);}
  100% {transform: rotate(-360deg);}
}
.buttons > div > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all .5s;
}
.buttons > div.toleft > img {transform: translateX(-5%);}
.buttons > div.tobottom > img {transform: translateY(3%);}
.buttons > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.607);
  font-size: 1.25rem;
  font-weight: bold;
}
.blue_button {border: 4px solid var(--color-blue);}
.blue_button > span {color: var(--color-blue);}
.red_button {border: 4px solid var(--color-red);}
.red_button > span {color: var(--color-red);}
.dark_blue_button {border: 4px solid var(--color-dark-blue);}
.dark_blue_button > span {color: var(--color-dark-blue);}
.green_button {border: 4px solid var(--color-green);}
.green_button > span {color: var(--color-green);}
.brown_button {border: 4px solid var(--color-brown);}
.brown_button > span {color: var(--color-brown);}
.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.556);
  display: none;
  z-index: 2;
}
.message .message_main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message .message_main .text {display: flex;flex-direction: column;align-items: center;}
.message .message_main .text .fall {color: var(--color-red);}
.message .message_main .text .loss {font-size: 1.75rem;}
.message .message_main .text .pieces div {display: flex;align-items: flex-end;justify-content: center;}
.message .message_main .text .pieces div img {width: 2rem;height: 2rem;margin-right: 0.25rem;}
.message .message_main .text .pieces div {display: flex;align-items: flex-end;}
.message .message_main .text .pieces div span.name {font-size: 1.4rem;color: var(--color-black);}
.message .message_main .text .pieces div span.count {font-size: 1.5rem;color: var(--color-gold);}
.message .message_main .text .pieces div span.count::before {content: "x";margin: 0.3rem;color: var(--color-black);font-size: 1.4rem;}
.message .message_main .text .required_count {margin: 1rem 0 0 0;font-size: 1.5rem;color: var(--color-blue);}
.message .message_main .text .required_count.red-text {color: var(--color-red);}
.icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.icon > img {width: 500%;height: 100%;position: absolute;}
.icon.information > img {left: 0;}
.icon.inventory > img {left: -100%;}
.icon.making > img {left: -200%;}
.icon.store > img {left: -300%;}
.icon.sword > img {left: -400%;}
.main_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  padding: 0.5rem;
}
.main_footer ul {width: 180px;display: flex;justify-content: space-around;}
.main_footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main_footer ul li:hover {transform: scale(1.1);}
.main_footer ul li:active {transform: scale(0.9);}
.main_footer .coinbox {
  text-align: end;
  word-break: keep-all;
  font-size: 1.5rem;
  position: relative;
}
.main_footer .coinbox #gold-number {color: var(--color-gold);}
.main_footer .coinbox #gold-change {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-dark-gold);
  opacity: 0;
}
.main_footer .coinbox:hover > #gold-record {
  transform: translateY(-100%);
  opacity: 0.8;
  transition: all .5s;
}
.main_footer .coinbox #gold-record {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;
  width: 100%;
  border: solid 2px black;
  border-bottom: none;
  font-size: 1rem;
  transition: all .3s;
}
.window {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  place-items: center;
}
.window > header {font-size: 1.5rem;}
.inventory_window main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 515px;
  min-height: 70%;
  max-height: 90%;
  overflow: hidden scroll;
  gap: 8px;
}
.inventory_window main::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 5px;
}
.inventory_window main::-webkit-scrollbar {
  width: 7px;
}
.inventory_window main::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 5px;
}
.inventory_window main .group {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 230px;
  align-items: center;
}
.inventory_window main .group .item {
  width: 50px;
  height: 50px;
  background-image: url("images/ui/item_frame.png");
  background-size: contain;
  position: relative;
  cursor: pointer;
}
.inventory_window main .group .item img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s;
}
.inventory_window main .group .item img:hover,
.inventory_window main .group .item .hover_sell:hover + img {width: 100%;transition: all .1s;}
.inventory_window main .group .item_count::before {content: "x ";}
.inventory_window main .group .item .hover_sell {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s;
}
.inventory_window main .group .item .hover_sell:hover {opacity: 1;background-color: rgba(0, 0, 0, 0.3);}
.inventory_window main .group .item .hover_sell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-align: center;
  text-shadow: -1px -1px 0px var(--color-black),
  -1px 1px 0px var(--color-black),
  1px 1px 0px var(--color-black),
  1px -1px 0px var(--color-black),
  -1px 0px 0px var(--color-black),
  1px 0px 0px var(--color-black),
  0px 1px 0px var(--color-black),
  0px -1px 0px var(--color-black);
  color: var(--color-white);
}
.inventory_window main .group .item_name {font-size: 1.25rem;}
.inventory_window main .group .item_count {font-size: 1.2rem;text-align: start;}
.sword_book_window main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 440px;
}
.sword_book_window main header {font-size: 1.5rem;}
.sword_book_window main header span {color: var(--color-gold);margin: 0.25rem;font-size: 2rem;}
.sword_book_window main .swords {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 8px;
  width: 100%;
  max-width: 400px;
}
.sword_icon {
  width: 15%;
  padding-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all .1s;
}
.sword_icon.sword {background: center / contain url("images/ui/item_frame.png");}
.sword_icon.unknown {background: center / contain url("images/ui/sword_frame.png");}
.sword_icon > img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
.sword_icon.sword:hover {transform: scale(1.2);transition: all .5s;z-index: 1;}
.sword_icon.sword:hover > img {transform: translate(-50%, -50%) scale(1.3);transition: all .3s;}
.sword_icon.unknown:hover {transform: scale(0.8);transition: all .5s;z-index: 1;}
.sword_icon.unknown:hover > img {transform: translate(-50%, -50%) scale(0.7);transition: all .3s;}
.maker_window main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  height: 80%;
  max-height: 400px;
  overflow: hidden scroll;
  gap: 8px;
}
.maker_window main .group {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  width: 100%;
  max-width: 400px;
  align-items: center;
  position: relative;
}
.maker_window main .group .material {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border: solid 4px var(--color-gray);
  border-radius: 4px;
}
.maker_window main .group .material.one {justify-content: center;}
.maker_window main .group .result {display: flex;justify-content: center;}
.maker_window main .group .material .item {
  width: 50px;
  height: 50px;
  background-image: url("images/ui/item_frame.png");
  background-size: contain;
  position: relative;
}
.maker_window main .group .result .item {
  width: 55px;
  height: 55px;
  background-image: url("images/ui/result_frame.png");
  background-size: contain;
  position: relative;
}
.maker_window main .group .item img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
.maker_window main .group .result .item img {filter: drop-shadow(2px 2px 3px var(--color-light-gray));}
.maker_window main .group .item .count {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  text-shadow: -1px -1px 0px var(--color-black),
  -1px 1px 0px var(--color-black),
  1px 1px 0px var(--color-black),
  1px -1px 0px var(--color-black),
  -1px 0px 0px var(--color-black),
  1px 0px 0px var(--color-black),
  0px 1px 0px var(--color-black),
  0px -1px 0px var(--color-black);
  color: var(--color-white);
  pointer-events: none;
  transition: opacity .3s;
}
.maker_window main .group .item .count.unable {
  text-shadow: -1px -1px 0px var(--color-white),
  -1px 1px 0px var(--color-white),
  1px 1px 0px var(--color-white),
  1px -1px 0px var(--color-white),
  -1px 0px 0px var(--color-white),
  1px 0px 0px var(--color-white),
  0px 1px 0px var(--color-white),
  0px -1px 0px var(--color-white);
  color: var(--color-red);
}
.maker_window main .group .material .item img:hover {width: 110%;}
.maker_window main .group .item .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-align: center;
  text-shadow: -1px -1px 0px var(--color-black),
  -1px 1px 0px var(--color-black),
  1px 1px 0px var(--color-black),
  1px -1px 0px var(--color-black),
  -1px 0px 0px var(--color-black),
  1px 0px 0px var(--color-black),
  0px 1px 0px var(--color-black),
  0px -1px 0px var(--color-black);
  color: var(--color-white);
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}
.maker_window main .group .result .item img:hover {filter: brightness(0.7);}
.maker_window main .group .result .item img:hover ~ .name {opacity: 1;}
.maker_window main .group .result .item img:hover ~ .count {opacity: 0;}
.maker_window main .group button {
  width: 50px;
  height: 50px;
  border: solid 3px var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-white);
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-dark-gray);
  cursor: pointer;
  transition: background-color .1s;
}
.maker_window main .group button[disabled] {background-color: var(--color-light-gray);font-size: 1.1rem;transform: scale(0.9);}
.maker_window main .group button[disabled]::after {content: " 불가";}
.maker_window main .group button:hover {background-color: var(--color-light-gray);}
.maker_window main .group button:active {transform: scale(0.9);}
.tip {font-size: 1rem;color: var(--color-dark-gray);}
.loading {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(243, 243, 243, 0.7);
}
.loading .lodding_img {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 38.4765625px), -50%);
  transform-origin: 76.953125px 100px;
}
.loading .lodding_img img {
  width: 100%;
  height: 100%;
  opacity: .8;
}